.wsBanner {
  z-index: -1;
  position: relative;
  .wsBanner-image {
    margin-top: -5em;
    height: 70vh;
    width: 100vw;
    object-fit: cover;
    @include wsNeumorphism--top-left;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  &:after {
    position: absolute;
    content: "";
    margin-top: -15em;
    height: 90vh;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #f0f0f300 55%, #f0f0f3 70%);
  }
}
