.wsButton {
  background: #f0f0f3;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bdbdc49f, -5px -5px 10px #ffffff;
  transition: all 125ms ease;
  &:active,
  &:focus {
    border-radius: 10px;
    background: #e7e9eb;
    box-shadow: -5px -5px 10px #bdbdc4c7, 5px 5px 10px #ffffff;
    transition: all 125ms ease;
  }
}

.wsTabButton {
  @include wsNeumorphism--bottom-right;
  border-radius: 10px;
  &:active,
  &:focus {
    @include wsNeumorphism--bottom-right;
    border-radius: 10px;
    color: #6b6b6b;
    outline: none;
  }
}
