.wsLogo--top-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  @include wsNeumorphism--top-left;
}

.wsLogo--top-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  @include wsNeumorphism--top-right;
}

.wsLogo--bottom-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  @include wsNeumorphism--bottom-left;
}

.wsLogo--bottom-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  @include wsNeumorphism--bottom-right;
}
