.wsSection {
    padding-top: 5vh;
    margin: -10vh 2vw 0 2vw;
    background-color: #ecf0f3;
    @include wsNeumorphism--bottom-right;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}