.wsSliderNavigation-wrapper {
  z-index: 999;
  height: 5.75em;
  animation: slideFromRight 500ms;
  transition: all 250ms ease;
  .wsSliderNavigation-main {
    z-index: 999;
    height: 100%;
    padding-top: -0.5em;
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    will-change: transform;
    overflow-x: hidden;
    transition: all 250ms ease;
    &__item {
      z-index: 999;
      padding-top: 0.5em;
      transition: all 250ms ease;
      &--active {
        display: flex;
        overflow-x: visible;
        width: max-content;
        transition: all 250ms ease;
        .wsSliderNavigation-main__item {
          &--hair,
          &--aesthetic,
          &--biotricologia,
          &--browlash,
          &--nail,
          &--facial {
            z-index: 999;
            margin-left: 0;
            margin-right: 0;
            transition: all 250ms ease;
          }
          &--name {
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: small;
            font-weight: 600;
            height: 5em;
            padding: 0.2em 0.75em 0.2em 2em;
            background: linear-gradient(145deg, #f0f0f3, rgb(240, 239, 239));
            @include wsNeumorphism--bottom-right;
            border-radius: 0 20px 20px 0;
            text-shadow: 3px 3px 3px #bdbdc480, -3px -3px 3px #ffffff;
            margin-top: 0;
            margin-left: -20px;
            margin-right: 1em;
            opacity: 1;
            animation: slideFromLeft .75s;
          }
        }
      }
      &--hair {
        top: 0.5em;
        margin-left: 0.5em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        @include wsNeumorphism--bottom-right;
        border: 2px solid #e0e0e0;
        transition: all 250ms ease;
      }
      &--aesthetic,
      &--biotricologia,
      &--browlash,
      &--nail,
      &--facial {
        top: 0.5em;
        margin-left: 0.5em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #bdbdc4, -5px -5px 10px #ffffff;
        transition: all 250ms ease;
      }
      &--name {
        display: none;
        opacity: 0;
        text-align: center;
        margin-left: -75px;
        margin-right: auto;
        margin-top: 4px;
        transition: all 300ms ease-in-out;
      }
    }
  }
}
.fa-arrow {
  padding: 0.15em;
  font-size: 30px;
  height: 50px;
  margin-top: -1.5vh;
  color: #989898;
  transition: all 250ms ease;
}

.fa-house {
  padding: 0.15em;
  font-size: 30px;
  height: 50px;
  margin-top: 0vh;
  color: #989898;
  transition: padding 250ms ease;
}
