.wsSliderNavigation-wrapper {
  width: 100%;
  height: 6em;
  overflow-x: hidden;
  .wsSliderNavigation-main {
    height: 100%;
    padding-top: -0.5em;
    width: 45em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    will-change: transform;
    overflow-x: hidden;
    &__item {
      padding-top: 0.5em;
      &--active {
        display: flex;
        overflow-x: visible;
        width: 10em;
        transition: all 300ms ease-in-out;
        .wsSliderNavigation-main__item {
          &--hair,
          &--aesthetic,
          &--biotricologia,
          &--browlash,
          &--nail,
          &--facial {
            z-index: 999;
            margin-left: auto;
            margin-right: 0;
            transition: all 300ms ease-in-out;
          }
          &--name {
            z-index: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: small;
            height: 5em;
            padding: 0.2em 0.75em 0.2em 1.5em;
            background: linear-gradient(145deg, #f0f0f0, #cacaca);
            border: 2px solid #e0e0e0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
            text-shadow: 3px 3px 3px #a8a8a8, -3px -3px 3px #ffffff;
            margin-top: 0;
            margin-left: -15px;
            margin-right: auto;
            opacity: 1;
            transition: all 300ms ease-in-out;
            animation: fadeIn 750ms;
          }
        }
      }
      &--hair {
        top: 0.5em;
        left: 10px;
        margin-left: 0.75em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        // background: url("~../../assets/img/model_img/navigation/1.jpg");
        // background-size: cover;
        // background-position: center;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
      }
      &--aesthetic {
        top: 0.5em;
        margin-left: 0.5em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
      }
      &--biotricologia {
        top: 0.5em;
        margin-left: 0.5em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
      }
      &--browlash {
        top: 0.5em;
        margin-left: 0.5em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
      }
      &--nail {
        top: 0.5em;
        margin-left: 0.5em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
      }
      &--facial {
        top: 0.5em;
        margin-left: 0.5em;
        margin-right: 1.5em;
        width: 4em;
        height: 4em;
        border: 2px solid #e0e0e0;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
      }
      &--name {
        display: none;
        opacity: 0;
        text-align: center;
        margin-left: -75px;
        margin-top: 4px;
        transition: all 300ms ease-in-out;
      }
    }
  }
}
.fa-arrow {
  font-size: 20px;
  margin-top: -15px;
  color: #989898;
  //   transform: translateX(-50px);
}
