@media (orientation: landscape) {
.fact-stamp {
  width: 5em;
  opacity: 0.5;
  -webkit-animation: pulse 5s infinite linear;
  animation: pulse 5s infinite linear;
}
}
@media (orientation: portrait) {
    .fact-stamp {
        width: 3em;
        opacity: 0.5;
        -webkit-animation: pulse 5s infinite linear;
        animation: pulse 5s infinite linear;
      }
}

.crazy-colors-gradient {
    background-image: linear-gradient(to right, violet, aqua, blue, silver, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
// .absolute {
//     position: absolute;
// }
