.topper {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .wsBanner {
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    height: 75vh;
    border-radius: 15px;
    // transform: translateX(-50%);
    transition: all 500ms ease;
    &__background--hair {
      @include hair;
    }
    &__background--aesthetic {
      @include aesthetic;
    }
    &__background--biotricologia {
      @include biotricologia;
    }
    &__background--browlash {
      @include browlash;
    }
    &__background--nail {
      @include nail;
    }
    &__background--facial {
      @include facial;
    }
    &__header {
      position: relative;
      height: 65vh;
      max-width: 85vw;
      padding: 15px;
      border-radius: 15px;
    }
    &__body {
      box-sizing: border-box;
    }
    &__watermark {
      &--dark {
        position: absolute;
        bottom: 0px;
        left: 10px;
        &::after {
          content: attr(data-sectionName);
          color: rgba(0, 0, 0, 0.726);
          font-size: 7vw;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      &--light {
        position: absolute;
        bottom: 0px;
        left: 10px;
        &::after {
          content: attr(data-sectionName);
          color: rgba(255, 255, 255, 0.836);
          font-size: 7vw;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
    &__logo {
      width: 150px;
      height: auto;
    }
  }
}

.wsBanners-placeholder {
  display: flex;
  flex-direction: row;
  &__item {
    opacity: 0.3;
    background-color: rgb(0, 0, 0);
    height: 5px;
    border-radius: 5px;
    transition: opacity 0.2s ease-in-out;
    &--active {
      opacity: 1;
      box-shadow: 0px 0px 10px 5px #2f323375;
    }
  }
  .slider-icon {
    margin-top: -5px;
  }
}
