@media (orientation: landscape) {
  .modelBanner {
    height: 100vh;
    background-image: url("../../assets/img/model_img/2892138_low50pc.jpg"),
      url("../../assets/img/model_img/botox_img.jpg");
    // background: no-repeat center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-image 500ms linear;
    -moz-transition: background-image 500ms linear;
    -ms-transition: background-image 500ms linear;
    -o-transition: background-image 500ms linear;
    transition: background-image 500ms linear;
    .branding {
      display: inline-block;
      width: 30%;
      padding-top: 30vh;
      float: left;
      margin-left: 5em;
      -webkit-animation: rotateOnY 7.5s infinite linear;
      animation: rotateOnY 7.5s infinite linear;
    }
  }
}

@media (orientation: portrait) {
  .modelBanner {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/img/model_img/2892138_low50pc.jpg") no-repeat center center;
    background-size: cover;
  }
  .branding {
    display: inline-block;
    width: 50%;
    float: left;
    padding-top: 65vh;
    margin-left: 15px;
    vertical-align: middle;
    -webkit-animation: rotateOnY 7.5s infinite linear;
    animation: rotateOnY 7.5s infinite linear;
  }
  @media screen and (min-width: 768px) {
    .branding {
      padding-top: 60vh;
    }
  }
}
