footer {
    .social-logos {
        max-width: 3em;
        filter:grayscale(1);
        transition: all 300ms ease-in-out;
        &:hover,
        &:target {
            filter: grayscale(0);
            transition: all 300ms ease-in-out;
        }
    }
}
