.pulse-ring--dark {
  position: relative;
  margin: 0 auto 0 auto;
  display: block;
  width: 10em;
  height: 2.25em;
  color: black;
  vertical-align: middle;
  text-align: center;
  line-height: 2.2em;
  background: white;
  border: 1px solid rgba(190, 190, 190, 0.144);
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(#2f323375, 0.5);
  -webkit-animation: pulseDark 1250ms infinite;
  cursor: pointer;
}
.pulse-ring--light {
  position: relative;
  margin: 0 auto 0 auto;
  display: block;
  width: 10em;
  height: 2.25em;
  color: black;
  vertical-align: middle;
  text-align: center;
  line-height: 2.2em;
  background: white;
  border: 1px solid rgba(190, 190, 190, 0.144);
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(#2f323375, 0.5);
  -webkit-animation: pulseLight 1250ms infinite;
  cursor: pointer;
}
