@media screen and (max-width: 574.99px) {
  .wsSliderNavigation-wrapper {
    overflow-x: scroll;
  }
}
@media screen and (min-width: 575px) {
  .wsSliderNavigation-wrapper {
    max-width: fit-content;
    overflow-x: hidden;
    .wsSliderNavigation-main {
      max-width: 750px;
    }
  }
}
