/* Neumorphism Start */
@mixin wsNeumorphism--top-left {
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
}
@mixin wsNeumorphism--bottom-left {
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 5px -5px 10px #a8a8a8, -5px 5px 10px #ffffff;
}
@mixin wsNeumorphism--top-right {
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: -5px 5px 10px #a8a8a8, 5px -5px 10px #ffffff;
}
@mixin wsNeumorphism--bottom-right {
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #a8a8a8, 5px 5px 10px #ffffff;
}
/* Neumorphism End */

//////////////////////
/* Collapse Start */

/* Collapse End */
