/* purgecss start ignore */
.fadeIn {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 750ms;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slideFromRight {
  animation: slideFromRight 750ms;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(75px);
  }
  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideFromRight {
  0% {
    transform: translateX(75px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    transform: translateX(75px);
  }
  100% {
    transform: translateX(0);
  }
}

@-o-keyframes slideFromRight {
  0% {
    transform: translateX(75px);
  }
  100% {
    transform: translateX(0);
  }
}

@-ms-keyframes slideFromRight {
  0% {
    transform: translateX(75px);
  }
  100% {
    transform: translateX(0);
  }
}

.slideFromLeft {
  animation: slideFromLeft 750ms;
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-ms-keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideFromTop {
  animation: slideFromTop 350ms;
}
@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideFromBottom {
  animation: slideFromBottom 500ms;
}
@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideToRight {
  animation: slideToRight 750ms;
}
@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@-moz-keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@-webkit-keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@-o-keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@-ms-keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
/* purgecss end ignore */