.fade-enter-active,
.fade-leave-active {
  transition: all 350ms;
}

.fade-enter {
  animation: slideFromLeft 350ms;
}
.fade-leave-to {
  animation: slideToRight 350ms;
  // transform: translateX(-100%);
}

.fade-enter-to {
  animation: slideFromLeft 350ms;
}
.fade-leave {
  animation: slideToRight 350ms;
  // transform: translateX(0);
}
