.fade-enter-active, .fade-leave-active {
  transition: all 300ms ease-in-out;
}

.fade-enter, .fade-leave-to {
  animation: fadeOut 300ms;
}

.fade-enter-to, .fade-leave {
  animation: fadeIn 750ms;
}