// GoogleFonts - Nunito Sans
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
// GoogleFonts - Nothing You Could Do
/* Handwriting */
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do:wght@400;600&display=swap");

.hand-writing {
  font-family: "Nothing You Could Do", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &--600 {
    font-family: "Nothing You Could Do", Helvetica, Arial, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.font-grey {
  color: #6b6b6b;
}
.font-neumorph {
  color: #6b6b6b;
  text-shadow: 3px 3px 3px #a8a8a8, 3px 3px 3px #ffffff;
}
