// Utils
@import "./Utils/breaking-point";
@import "./Utils/keyframes";
@import "./Utils/mixins";
@import "./Utils/variables";

// Base
@import "./Base/typography";

// Components
// @import "./Components/section";
@import "./Components/banner";
// @import "./Components/aboutSection";
@import "./Components/footer";

// Main style
html {
  overflow: hidden;
  body {
    box-sizing: border-box;
    font-family: "Glory", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background 250ms ease-in-out;
  }
}

// Bootstrap and BootstrapVue SCSS files (order is important)
@import "././node_modules/bootstrap/scss/bootstrap.scss";
@import "././node_modules/bootstrap-vue/src/index.scss";
